body { background-color: #f2f8f0; font-family: 'Georgia', serif; }
h1 { color: #222; }
table{border-collapse:collapse;width:100%}
th,td{border:3px solid #878787;padding:8px}
th{background:#0a58ca;color:white}